@font-face {
    font-family: norse-bold;
    src: url(./images/Norse-Bold.otf);
}
body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}
section {
    background-color: grey;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}
.leftside {
    font-family: norse-bold;
    position: relative;
    background-image: url("images/halie-west-25xggax4bSA-unsplash-50.jpg");
    background-size: cover;
    flex-basis: 35%;
    height: 80vh;
    padding-top: 10vh;
    text-align: center;
}
.rightside {
    flex-basis: 65%;
    background-color: beige;
    padding: 10px;
}
.leftside>p>img {
    height: 16vh;
}
.leftside>p>img.half {
    height: 8vh;
}
.leftside>p>img {
    vertical-align: middle;
}
.leftfoot {
    width: 100%;
    position: absolute;
    bottom: 5vh;
    background-color: rgba(85, 107, 47, 0.5);
    text-align: center;
    color: white;
}
.leftfoot a {
    text-decoration: none;
    color: cyan;
}
fieldset {
    display: contents;
}
.data {
    margin-top: 25px;
}
h3 {
    margin: 0;
}
.row {
    display: flex;
    padding: 10px;
}
label {
    width: 40%;
    font-size: 0.8rem;
}
input {
    display: block;
    width: 90%;
    /* outline: none; */
    border: 1px solid #E5E7EB;
    background-color: rgb(231, 231, 179);
}
input:focus {
    outline: none;
    border-color: blue;
    /* background-color: aqua; */
    box-shadow: 0 0 2px 2px grey;
}
label div {
    font-size: 0.6rem;
}
label div.red {
    color: red;
  
}
button {
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
}
.loginlink {
    margin-top: 15px;
    text-align: center;
}
div {
    /* border: 0.5px solid rgba(128, 128, 128, 0.459) */
}
.sent {
    display: none;
}
.login {
    display: none;
    position: absolute;
    top: 30%;
    right: 20%;
    background-color: beige;
    padding: 30px;
    border: 3px solid grey;
    border-radius: 10px;
}
